.wrapper {

  &--with-border {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  &--colontitle {
    background: var(--border-color);
  }

  &__content {
    max-width: 1410px;
    padding: 0 5px;
    margin: 0 auto;

    &--width {
      max-width: 1444px;
    }

    &--card {
      max-width: 1240px;
    }

    &--vertical-padding {
      padding: 35px 0 80px 0;
    }
  }
}