@import "./fonts.pcss";

:root {
    --color-card-background: #fff;
    --color-accent: #000;
    --color-content: #666666;
    --border-color: #e6e6e6;
    --button-color: #303030;
    --button-active-color: #b42f2f;
    --button-text-color: #fff;
    --unactive-dots: #8a8a8a;
    --lamp-slider-border-color: #acacac;
    --font-bold: 'opensans-bold', Arial, sans-serif;
    --font-semibold: 'opensans-semibold', Arial, sans-serif;
    --font-regular: 'opensans-regular', Arial, sans-serif;
}