div.information(id="information")
    h1.information__title.title информация
    ul.information__list.information-list
        li.information-list__item.information-list__item--lamp(id="lamp-button")
            div.information-list__image-wrapper
                img.information-list__image(src=require('../../images/information/stars.svg') alt="stars image")
            h2.information-list__title.title Светильник-ночник
            button.information-list__button.title Узнать подробности
        li.information-list__item.information-list__item--contacts(id="contacts-button")
            div.information-list__image-wrapper
                img.information-list__image(src=require('../../images/information/world.svg') alt="world image")
            h2.information-list__title.title Контакты
            button.information-list__button.title Узнать подробности
        li.information-list__item.information-list__item--comments(id="comments-button")
            div.information-list__image-wrapper
                img.information-list__image(src=require('../../images/information/conversation.svg') alt="conversation image")
            h2.information-list__title.title Отзывы
            button.information-list__button.title Узнать подробности
        li.information-list__item.information-list__item--gallery(id="gallery-button")
            div.information-list__image-wrapper
                img.information-list__image(src=require('../../images/information/gallery.svg') alt="gallery image")
            h2.information-list__title.title Галерея
            button.information-list__button.title Узнать подробности
    div.information__offer
        p.information__offer-content.title Закажи прямо сейчас!
        button.information__offer-button.title.js-open-form-button купить
