.main-title {
  font-family: var(--font-bold);
}

.title {
  font-family: var(--font-semibold);
}

.content {
  font-family: var(--font-regular);
  color: var(--color-content);
}

.wpcf7 {
    display: inline-block;
}