div.wrapper
    div.wrapper__content
        include ../blocks/header
div.wrapper.wrapper--with-border
    div.wrapper__content
        include ../blocks/navigate
div.wrapper
    div.wrapper__content.wrapper__content--vertical-padding
        include ../blocks/lamp
div.wrapper
    div.wrapper__content.wrapper__content--galery-width
        include ../blocks/gallery
div.wrapper
    div.wrapper__content
        include ../blocks/delivery
div.wrappert
    div.wrapper__content.wrapper__content--inforamtion-width
        include ../blocks/information
div.wrapper.wrapper--with-border
    div.wrapper__content
        include ../blocks/navigate
div.wrapper
    div.wrapper__content
        include ../blocks/footer
div.wrapper.wrapper--colontitle
    div.wrapper__content
        include ../blocks/colontitle
div.wrapper
    div.wrapper__content.wrapper__content--card
        include ../blocks/modal-overlay
div.wrapper
    div.wrapper__content.wrapper__content--card
        include ../blocks/modal-overlay-lamp
div.wrapper
    div.wrapper__content.wrapper__content--card
        include ../blocks/modal-overlay-reviews
div.wrapper
    div.wrapper__content.wrapper__content--card
        include ../blocks/modal-overlay-contacts

