{% extends 'InWhiteBoxBundle:Admin:admin.html.twig' %}
{% block title %}Каталог{% endblock %}
{% block body %}
    <h1>Каталог</h1>
    <ul>
        <li>
            <a href="{{ path('catalog_new') }}">Создать новый элемент каталога</a>
        </li>
    </ul>
    <table id="catalog" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for catalog_element in catalog%}
            <tr>
                <td>{{ catalog_element.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('catalog_show', { 'id': catalog_element.id }) }}">Подробнее...</a>
                        </li>
                        <li>
                            <a href="{{ path('catalog_edit', { 'id': catalog_element.id }) }}">Редактировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
