.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;


  &__white-box {
    width: 148px;
  }

  &__give-emotions {
    width: 417px;
    align-self: center;
  }

  &__content {
    width: 350px;
    text-align: center;
    align-self: center;
  }

  &__contacts {
    width: 200px;
    align-self: center;
  }
}