.colontitle {
  text-align: center;
  color: var(--button-active-color);
  padding: 5px 0;

  &__link {
    display: inline-block;
    border-bottom: 1px solid var(--button-active-color);

    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}