.delivery {
  padding-bottom: 45px;

  @media (--tablet-large) {
    padding-bottom: 10px;
  }

  &__title {
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0;

    @media (--desktop-large) {
      padding-bottom: 65px;
    }
  }
}