.footer {
  padding: 35px 0;

  &__title {
    text-align: center;
    padding-bottom: 25px;
    font-size: 20px;
    color: var(--color-accent);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 176px;
    margin: 0 auto;
  }
}