.header-contacts {

  &__item {
    padding: 7px 0;

    &--border-bottom {
      border-bottom: 1px solid var(--border-color);
    }
  }

  &__image {
    width: 32px;
    height: 32px;
    display: block;
  }

  &__links-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;


    @media (--desktop-small) {
             width: 136px;
        }
    }
}
