footer.footer
    h1.footer__title.content Мы&nbsp;в&nbsp;социальных сетях:
    ul.footer__list
        li.footer__item
            a.footer__link(href="#" title="instagram")
                img.footer__image(src=require('../../images/social-networks/inst-wb.svg') alt="instagram")
        li.footer__item
            a.footer__link(href="#" title="facebook")
                img.footer__image(src=require('../../images/social-networks/fb-wb.svg') alt="facebook")
        li.footer__item
            a.footer__link(href="#" title="vk")
                img.footer__image(src=require('../../images/social-networks/vk-wb.svg') alt="vk")
