footer.footer
    h1.footer__title.content Мы&nbsp;в&nbsp;социальных сетях:
    ul.footer__list
        li.footer__item
            a.footer__link(href="https://www.instagram.com/inwbox/" target="_blank" title="instagram")
                img.footer__image(src=require('../../images/social-networks/instagram.svg') alt="instagram")
        li.footer__item
            a.footer__link(href="https://vk.com/inwhitebox" target="_blank" title="vk")
                img.footer__image(src=require('../../images/social-networks/vk.svg') alt="vk")
