div.modal-overlay-lamp
    div.modal-overlay-lamp__modal-lamp.modal-lamp
        button.modal-lamp__close-button Close
        div.modal-lamp__content-wrapper
            div.modal-lamp__content
                p.modal-lamp__description.modal-lamp__description--left-padding.modal-lamp__description--crooked-line-to-bottom.content Гарантия на&nbsp;электрику 12&nbsp;мес.
                p.modal-lamp__description.modal-lamp__description--left-padding.content.modal-lamp__description--straight-line Минималистичный дизайн
                p.modal-lamp__description.modal-lamp__description--left-padding.content.modal-lamp__description--crooked-line-to-top Мягкое, теплое свечение
            div.modal-lamp__content.modal-lamp__content--width
                h1.modal-lamp__title.title светильник&nbsp;&mdash; ночник
                img.modal-lamp__image(src=require('../../images/modal-windows/modal-lamp-image.png') alt="modal-lamp image")
                p.modal-lamp__offer.title Закажи прямо сейчас!
                a.modal-lamp__link.title(href="#" title="Купить")
                    span.modal-lamp__link-content Купить
            div.modal-lamp__content
                p.modal-lamp__description.modal-lamp__description--padding-top.modal-lamp__description--crooked-right-line.modal-lamp__description--crooked-right-line-position.content Светодиодная подсветка, минимальное потребление энергии
                p.modal-lamp__description.modal-lamp__description--crooked-right-line.content Настоящее фабричное качество