div.information-modal-overlay-wrapper.information-modal-overlay-wrapper--closed(id="modal-error")
    div.information-modal-overlay-wrapper__modal-overlay.information-modal-overlay-wrapper-modal-overlay.modal-overlay-error(id="modal-close-error")
        h1.modal-overlay-error__stats.title Произошла ошибка, пожалуйста перезагрузите страницу