div.modal-overlay.modal-overlay--closed
    div.modal-overlay__modal.modal
        div.modal__card.card
            ul.card__list
                li.card__item.card__item--width.card__item--margin-right
                    img.card__large-image.js-modal-photo
                    div.card__slider.card-slider
                li.card__item.card__item--relative
                    button.card__close-button.modal-overlay__close-button
                    article.card__article
                        h1.card__title.main-title
                        p.card__subtitle.content
                        p.card__content.content
                        p.card__price.title
                            span.card__currency &nbsp;руб
                    p.card__offer.title Закажи прямо сейчас!
                    button.card__button.title.js-open-form-button купить