div.modal-overlay-photo.modal-overlay-photo--closed(id="modal-photo")
    button.modal-overlay-photo__close-button(id="modal-close-photo")
    img.modal-overlay-photo__photo(src="http://9993626000.myjino.ru/wp-content/uploads/2017/11/oO1AkmygSo0.jpg")