div.modal-overlay-form-wrapper.modal-overlay-form-wrapper--closed
    div.modal-overlay-form-wrapper__modal-overlay
        form.modal-overlay-form-wrapper__form.form(name="form" action="form.json" method="POST")
            fieldset.form__feedback
                a.form__close-button.js-form__close-button
                div.form__feedback-status-wrapper
                    p.form__feedback-status.title
                p.form__data-content.title Ваше ФИО
                input.form__item.title(name="name" placeholder="Иванов Иван Иванович" type="text" required minlength="2")
                p.form__data-content.title Адрес эл. почты
                input.form__item.title(name="email" placeholder="example@gmail.com" type="email" required)
                p.form__data-content.title Контактный телефон
                input.form__item.title(name="phone" placeholder="+7 095 675 45 45" type="tel" required)
                p.form__data-content.title Комментарий:
                textarea.form__message.title
                button.form__button.title(type="submit" name="send") оставить заявку
