div.information-modal-overlay-wrapper.information-modal-overlay-wrapper--closed(id="modal-contacts")
    div.information-modal-overlay-wrapper__modal-overlay.information-modal-overlay-wrapper-modal-overlay.modal-overlay-contacts(id="modal-close-contacts")
        div.information-modal-overlay-wrapper-modal-overlay__modal.modal-overlay-contacts__modal.modal-contacts
            h1.modal-contacts__title.title Контакты
            button.modal-contacts__close-button(id="contacts-close-button")
            ul.modal-contacts__list
                li.modal-contacts__item
                    div.modal-contacts__map-wrapper(id="Ymap")
                li.modal-contacts__item.modal-contacts__item--margin-left.modal-contacts__item--width
                    address.modal-contacts__address.modal-contacts__information.title ул. Космос 24а
                    a.modal-contacts__phone.modal-contacts__link.modal-contacts__information.title(href="tel:88006409005") +8 (800) 640-90-05
                    a.modal-contacts__email.modal-contacts__link.modal-contacts__information.title(href="mailto:InWhiteBox@gmail.com") InWhiteBox@gmail.com
            div.modal-contacts__offer-wrapper
                p.modal-contacts__offer.title У&nbsp;вас есть вопросы?
                button.modal-contacts__button.title.js-open-form-button заказать обратный звонок