div.modal-overlay-contacts
    div.modal-overlay-contacts.modal-contacts
        h1.modal-contacts__title.title Контакты
        button.modal-contacts__close-button Close
        ul.modal-contacts__list
            li.modal-contacts__item
                div.modal-contacts__map-wrapper
                    img.modal-contacts__map(src=require('../../images/map/map.png') alt="map image")
            li.modal-contacts__item
                address.modal-contacts__address.title ул. Космос 24а
                a.modal-contacts__phone.title(href="tel:88006409005") +8 (800) 640-90-05
                a.modal-contacts__email.title(href="mailto:InWhiteBox@gmail.com") InWhiteBox@gmail.com
        button.modal-contacts__button заказать обратный звонок