div.information-modal-overlay-wrapper.information-modal-overlay-wrapper--closed(id="modal-lamp")
    div.information-modal-overlay-wrapper__modal-overlay.information-modal-overlay-wrapper-modal-overlay.modal-overlay-lamp(id="modal-close-lamp")
        div.information-modal-overlay-wrapper-modal-overlay__modal.modal-overlay-lamp__modal-lamp.modal-lamp
            div.modal-lamp__content-wrapper
                button.modal-lamp__close-button(id="lamp-close-button")
                div.modal-lamp__content.modal-lamp__content--hidden-on-mobile
                    p.modal-lamp__description.modal-lamp__description--crooked-line-to-bottom.content Гарантия на&nbsp;электрику 12&nbsp;мес.
                    p.modal-lamp__description.content.modal-lamp__description--straight-line Минималистичный дизайн
                    p.modal-lamp__description.content.modal-lamp__description--crooked-line-to-top Мягкое, теплое свечение
                div.modal-lamp__content.modal-lamp__content--width
                    h1.modal-lamp__title.title светильник&nbsp;&mdash; ночник
                    img.modal-lamp__image(src=require('../../images/modal-windows/modal-lamp-image.png') alt="modal-lamp image")
                    ul.modal-lamp__list
                        li.modal-lamp__item.content Гарантия на&nbsp;электрику 12&nbsp;мес.
                        li.modal-lamp__item.content Минималистичный дизайн
                        li.modal-lamp__item.content Мягкое, теплое свечение
                        li.modal-lamp__item.content Светодиодная подсветка, минимальное потребление энергии
                        li.modal-lamp__item.content Настоящее фабричное качество

                    p.modal-lamp__offer.title Закажи прямо сейчас!
                    button.modal-lamp__button.title.js-open-form-button купить

                div.modal-lamp__content.modal-lamp__content--hidden-on-mobile
                    p.modal-lamp__description.modal-lamp__description--padding-top.modal-lamp__description--crooked-right-line.modal-lamp__description--crooked-right-line-position.content Светодиодная подсветка, минимальное потребление энергии
                    p.modal-lamp__description.modal-lamp__description--crooked-right-line.content Настоящее фабричное качество