nav.navigate
    ul.navigate__list
        li.navigate__item
            a.navigate__link.content(href="#" title="Главная") Главная
        li.navigate__item
            a.navigate__link.content(href="#" title="Каталог") Каталог
        li.navigate__item
            a.navigate__link.content(href="#" title="Информация") Информация
        li.navigate__item
            a.navigate__link.content(href="#" title="Доставка и Оплата") Доставка и Оплата
